<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
		<title>{{seccion ~ " - " ~ constant('TITULO')}}</title>
		<meta
		name="description" content="">
		<!-- Call App Mode on ios devices -->
		<meta
		name="apple-mobile-web-app-capable" content="yes"/>
		<!-- Remove Tap Highlight on Windows Phone IE -->
		<meta
		name="msapplication-tap-highlight" content="no">
		<!-- base css -->
		<link id="vendorsbundle" rel="stylesheet" media="screen, print" href="{{constant('ROOT')}}assets/css/vendors.bundle.css">
		<link id="appbundle" rel="stylesheet" media="screen, print" href="{{constant('ROOT')}}assets/css/app.bundle.css">
		<link id="mytheme" rel="stylesheet" media="screen, print" href="{{constant('ROOT')}}assets/css/themes/cust-theme-14.css">
		<link id="myskin" rel="stylesheet" media="screen, print" href="{{constant('ROOT')}}assets/css/skins/skin-master.css">
		<link rel="stylesheet" media="screen, print" href="{{constant('ROOT')}}assets/css/notifications/sweetalert2/sweetalert2.bundle.css">
		
		<!-- Place favicon.ico in the root directory -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{constant('ROOT')}}assets/img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{constant('ROOT')}}assets/img/favicon.png">
		<link rel="mask-icon" href="{{constant('ROOT')}}assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="hostname" content="{{constant('HOSTNAME')}}">
		<meta name="app-url" content="{{constant('ROOT')}}">
		<meta name="assets-url" content="{{constant('ROOT')}}assets">
		<meta name="environment" content="dev">
		<!-- Optional: page related CSS -->
		<!-- PHP docs -->
	<link rel="stylesheet" media="screen, print" href="{{constant('ROOT')}}assets/css/markdown.css"> </head>
	<body class="mod-bg-none mod-nav-link mod-skin-dark mod-main-boxed">
		
		<!-- BEGIN Page Wrapper -->
		<div class="page-wrapper">
			<div class="page-inner">
				<!-- BEGIN Left Aside -->
				{% include 'misc/aside.left.twig' %}
				<!-- END Left Aside -->
				<div class="page-content-wrapper">
					<!-- BEGIN Page Header -->
					{% include 'misc/header.twig' %}
					<!-- END Page Header -->
					<!-- BEGIN Page Content -->
					<!-- the #js-page-content id is needed for some plugins to initialize -->
					<main id="js-page-content" role="main" class="page-content">
					{% include 'misc/breadcrump.twig' %}
					{% include 'misc/subheader.twig' %}
					{% block contenido %}
                    {% endblock %}
					</main>
					<!-- END Page Content -->
					<!-- this overlay is activated only when mobile menu is triggered -->
					<div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>
					<!-- BEGIN Page Footer -->
					<!-- BEGIN Page Footer -->
					{% include 'misc/footer.twig' %}
					<!-- END Page Footer -->
					<!-- END Page Footer -->
					<!-- BEGIN Shortcuts -->
					<!-- BEGIN Shortcuts -->
						<div class="modal fade modal-backdrop-transparent" id="modal-shortcut" tabindex="-1" role="dialog" aria-labelledby="modal-shortcut" aria-hidden="true"> <div class="modal-dialog modal-dialog-top modal-transparent" role="document">
							<div class="modal-content">
								<div class="modal-body">
									<ul class="app-list w-auto h-auto p-0 text-left">
										<li>
											<a href="https://smartadmin.lodev09.com/intel_introduction.php" class="app-list-item text-white border-0 m-0">
												<div class="icon-stack">
													<i class="base base-7 icon-stack-3x opacity-100 color-primary-500 "></i>
													<i class="base base-7 icon-stack-2x opacity-100 color-primary-300 "></i>
													<i class="fal fa-home icon-stack-1x opacity-100 color-white"></i>
												</div>
												<span class="app-list-name">
													Home
												</span>
											</a>
										</li>
										<li>
											<a href="https://smartadmin.lodev09.com/page_inbox_general.php" class="app-list-item text-white border-0 m-0">
												<div class="icon-stack">
													<i class="base base-7 icon-stack-3x opacity-100 color-success-500 "></i>
													<i class="base base-7 icon-stack-2x opacity-100 color-success-300 "></i>
													<i class="ni ni-envelope icon-stack-1x text-white"></i>
												</div>
												<span class="app-list-name">
													Inbox
												</span>
											</a>
										</li>
										<li>
											<a href="https://smartadmin.lodev09.com/intel_introduction.php" class="app-list-item text-white border-0 m-0">
												<div class="icon-stack">
													<i class="base base-7 icon-stack-2x opacity-100 color-primary-300 "></i>
													<i class="fal fa-plus icon-stack-1x opacity-100 color-white"></i>
												</div>
												<span class="app-list-name">
													Add More
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					    </div>
					<!-- END Shortcuts -->
					<!-- END Shortcuts -->
				</div>
			</div>
		</div>
		<!-- END Page Wrapper -->
		<!-- BEGIN Quick Menu -->
		<!-- BEGIN Quick Menu -->
		<!-- to add more items, please make sure to change the variable '$menu-items: number;' in your _page-components-shortcut.scss -->
			<nav class="shortcut-menu d-none d-sm-block"> <input type="checkbox" class="menu-open" name="menu-open" id="menu_open"/>
			<label for="menu_open" class="menu-open-button ">
				<span class="app-shortcut-icon d-block"></span>
			</label>
			<a href="#" class="menu-item btn" data-toggle="tooltip" data-placement="left" title="Scroll Top">
				<i class="fal fa-arrow-up"></i>
			</a>
			<a href="https://smartadmin.lodev09.com/page_login.php" class="menu-item btn" data-toggle="tooltip" data-placement="left" title="Logout">
				<i class="fal fa-sign-out"></i>
			</a>
			<a href="#" class="menu-item btn" data-action="app-fullscreen" data-toggle="tooltip" data-placement="left" title="Full Screen">
				<i class="fal fa-expand"></i>
			</a>
			<a href="#" class="menu-item btn" data-action="app-print" data-toggle="tooltip" data-placement="left" title="Print page">
				<i class="fal fa-print"></i>
			</a>
		</nav>
		<!-- END Quick Menu -->
		<!-- END Quick Menu -->
		<!-- BEGIN Colors -->
		<!-- BEGIN Color profile -->
		<!-- this area is hidden and will not be seen on screens or screen readers -->
		<!-- we use this only for CSS color refernce for JS stuff -->
			<p id="js-color-profile" class="d-none"> 
            <span class="color-primary-50"></span>
			<span class="color-primary-100"></span>
			<span class="color-primary-200"></span>
			<span class="color-primary-300"></span>
			<span class="color-primary-400"></span>
			<span class="color-primary-500"></span>
			<span class="color-primary-600"></span>
			<span class="color-primary-700"></span>
			<span class="color-primary-800"></span>
			<span class="color-primary-900"></span>
			<span class="color-info-50"></span>
			<span class="color-info-100"></span>
			<span class="color-info-200"></span>
			<span class="color-info-300"></span>
			<span class="color-info-400"></span>
			<span class="color-info-500"></span>
			<span class="color-info-600"></span>
			<span class="color-info-700"></span>
			<span class="color-info-800"></span>
			<span class="color-info-900"></span>
			<span class="color-danger-50"></span>
			<span class="color-danger-100"></span>
			<span class="color-danger-200"></span>
			<span class="color-danger-300"></span>
			<span class="color-danger-400"></span>
			<span class="color-danger-500"></span>
			<span class="color-danger-600"></span>
			<span class="color-danger-700"></span>
			<span class="color-danger-800"></span>
			<span class="color-danger-900"></span>
			<span class="color-warning-50"></span>
			<span class="color-warning-100"></span>
			<span class="color-warning-200"></span>
			<span class="color-warning-300"></span>
			<span class="color-warning-400"></span>
			<span class="color-warning-500"></span>
			<span class="color-warning-600"></span>
			<span class="color-warning-700"></span>
			<span class="color-warning-800"></span>
			<span class="color-warning-900"></span>
			<span class="color-success-50"></span>
			<span class="color-success-100"></span>
			<span class="color-success-200"></span>
			<span class="color-success-300"></span>
			<span class="color-success-400"></span>
			<span class="color-success-500"></span>
			<span class="color-success-600"></span>
			<span class="color-success-700"></span>
			<span class="color-success-800"></span>
			<span class="color-success-900"></span>
			<span class="color-fusion-50"></span>
			<span class="color-fusion-100"></span>
			<span class="color-fusion-200"></span>
			<span class="color-fusion-300"></span>
			<span class="color-fusion-400"></span>
			<span class="color-fusion-500"></span>
			<span class="color-fusion-600"></span>
			<span class="color-fusion-700"></span>
			<span class="color-fusion-800"></span>
			<span class="color-fusion-900"></span>
		</p>
		<!-- END Color profile -->
		<!-- END Colors -->
		
		{% block js %}
		<!-- base vendor bundle: 
            DOC: if you remove pace.js from core please note on Internet Explorer some CSS animations may execute before a page is fully loaded, resulting 'jump' animations 
            + pace.js (recommended)
            + jquery.js (core)
            + jquery-ui-cust.js (core)
            + popper.js (core)
            + bootstrap.js (core)
            + slimscroll.js (extension)
            + app.navigation.js (core)
            + ba-throttle-debounce.js (core)
            + waves.js (extension)
            + smartpanels.js (extension)
            + src/../jquery-snippets.js (core) -->
		<script src="{{constant('ROOT')}}assets/js/tasa.bcv.js"></script>
        <script src="{{constant('ROOT')}}assets/js/vendors.bundle.js"> </script>
		<script src="{{constant('ROOT')}}assets/js/app.bundle.js"></script>
		<!-- The order of scripts is irrelevant. Please check out the plugin pages for more details about these plugins below: -->
		<script src="{{constant('ROOT')}}assets/js/statistics/sparkline/sparkline.bundle.js"></script>

        {% endblock %}
	</body>
</html>
